
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato';
}
.main_card {
	color: beige;
	height: 100%;
	width: auto;
	margin: 50px auto;
	display: flex;
	max-width: 770px;
	background-image: linear-gradient(to top, black 0%, black 99%, black 100%);
    box-shadow: 
	0 0 2px hsl(231, 25%, 56%), 
    0 0 4px hsl(231, 38%, 59%), 
    0 0 6px hsl(231, 40%, 51%), 
    0 0 8px hsl(231, 53%, 50%), 
    0 0 10px hsl(231, 66%, 44%), 
    0 0 12px hsl(231, 79%, 42%);
}

.card_left {
	width: 100%;
    border: 1px solid black;
}

.card_datails {
	width: 90%;
	padding: 30px;
	margin-top: -25px;
}

.nombre {
    font-size: 30px;
	font-family: "Playfair Display SC";
}

.card_right img {
    width: 100%;
	height: 100%;
    border: 1px solid black;
}
.card_right {
	height: auto;
	width: 100%;
}

.card_cat {
    margin-top: 20px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-right: 5px;
}

.rating .genres .fecha{
    color: #FFCDB2;
	padding: 10px;
	font-weight: bold;
	border-radius: 15px;
}

.rating {
    background: #6D6875;
    padding: 5px;
	color: yellow;
}

.description{
    font-weight: 50;
	line-height: 15px;
    font-size: 13px;
    margin-top: 25px;
    text-align: center;
	padding: 0 5px;
}

.plataformas {
    font-weight: 50;
	line-height: 15px;
    font-size: 13px;
    margin-top: 25px;
    text-align: center;
	padding: 0 5px;
}

.btn {
    color: #fff;
	text-decoration: none;
    margin-left: 15px;
	border: #fff;
	padding: 8px;
	width: 20%;
	outline: none;
	font-size: 16px;
	font-family: system-ui;
	margin-top: 15px;
	margin-left: 10px;
	background: black;
	border-radius: 8px;
	box-shadow:  
    
    0 0 2px hsl(231, 25%, 56%), 
    0 0 4px hsl(231, 38%, 59%), 
    0 0 6px hsl(231, 40%, 51%), 
    0 0 8px hsl(231, 53%, 50%), 
    0 0 10px hsl(231, 66%, 44%), 
    0 0 12px hsl(231, 79%, 42%);
}